<div class="header">
  <img src="../assets/img/1.jpeg" class="img1" />
  <div class="header-content">
    <p>CATERING INSPECTION MANAGMENT SYSTEM</p>
    <p>VIJAYAWADA DIVISION</p>
  </div>
  <img src="../assets/img/2.jpeg" class="img2" />
</div>

<div class="card">
  <div class="login-card">
    <p class="card-content">Username</p>
    <input type="text" class="text-box"/>
    <p class="card-content">Password</p>
    <input type="password" class="text-box" />
    <div class="button"><button class="button-signup">Sign UP</button></div>
  </div>
  
</div>
